<ion-header>
  <ion-toolbar>
    <ion-title>
    CROPS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-col size="6">
      <div>
         <h2>Welcome Back Peterson !</h2>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div>
          <p>Please do ensure to check you watermelonm farm today !</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Default Searchbar -->
  <ion-searchbar></ion-searchbar>
</ion-content>
