<ion-header>
  <ion-toolbar>
    <ion-title>
      CROPS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome Back Peterson!</ion-card-title>
        <ion-card-subtitle>please do ensure to check out your watermelonfarm Today!</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
      <!-- Default Searchbar -->
  <ion-searchbar></ion-searchbar>
   <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
      
      <ion-card>
        <ion-item>
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>Maize Plantation I</ion-label>
          <ion-icon name="partly-sunny"></ion-icon>
          <ion-icon name="thermometer"></ion-icon>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-item>
      </ion-card>
      <ion-card>
          <ion-item>
            <ion-icon name="pizza" slot="start"></ion-icon>
            <ion-label>Wheat field</ion-label>
            <ion-icon name="partly-sunny"></ion-icon>
            <ion-icon name="thermometer"></ion-icon>
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-item>
        </ion-card>
        <ion-card>
            <ion-item>
              <ion-icon name="pizza" slot="start"></ion-icon>
              <ion-label>Beans field</ion-label>
              <ion-icon name="partly-sunny"></ion-icon>
              <ion-icon name="thermometer"></ion-icon>
              <ion-icon name="notifications-outline"></ion-icon>
            </ion-item>
          </ion-card>
          <ion-card>
              <ion-item>
                <ion-icon name="pizza" slot="start"></ion-icon>
                <ion-label>coffe field</ion-label>
                <ion-icon name="partly-sunny"></ion-icon>
                <ion-icon name="thermometer"></ion-icon>
                <ion-icon name="notifications-outline"></ion-icon>
              </ion-item>
            </ion-card>
            <ion-card>
                <ion-item>
                  <ion-icon name="pizza" slot="start"></ion-icon>
                  <ion-label>groundnuts field</ion-label>
                  <ion-icon name="partly-sunny"></ion-icon>
                  <ion-icon name="thermometer"></ion-icon>
                  <ion-icon name="notifications-outline"></ion-icon>
                </ion-item>
              </ion-card>
                          
      
</ion-content>
